In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [58]:
dftrain = pd.read_csv("train.csv")
dftest = pd.read_csv("test.csv")
dftrain.head(5)

   id  bone_length  rotting_flesh  hair_length  has_soul  color    type
0   0     0.354512       0.350839     0.465761  0.781142  clear   Ghoul
1   1     0.575560       0.425868     0.531401  0.439899  green  Goblin
2   2     0.467875       0.354330     0.811616  0.791225  black   Ghoul
3   4     0.776652       0.508723     0.636766  0.884464  black   Ghoul
4   5     0.566117       0.875862     0.418594  0.636438  green   Ghost

In [59]:
test_ids = dftest.id
X_test = dftest.drop(columns=['id'])
X_test.head(5)

   bone_length  rotting_flesh  hair_length  has_soul  color
0     0.471774       0.387937     0.706087  0.698537  black
1     0.427332       0.645024     0.565558  0.451462  white
2     0.549602       0.491931     0.660387  0.449809  black
3     0.638095       0.682867     0.471409  0.356924  white
4     0.361762       0.583997     0.377256  0.276364  black

In [62]:
Y_train = dftrain['type']
X_train = dftrain.drop(['type','id'],1)
X_train.head()

   bone_length  rotting_flesh  hair_length  has_soul  color
0     0.354512       0.350839     0.465761  0.781142  clear
1     0.575560       0.425868     0.531401  0.439899  green
2     0.467875       0.354330     0.811616  0.791225  black
3     0.776652       0.508723     0.636766  0.884464  black
4     0.566117       0.875862     0.418594  0.636438  green

In [63]:
#from catboost import CatBoostClassifier
from sklearn.model_selection import GridSearchCV

In [64]:
"""
print(X_train.shape,X_test.shape)
X_all = X_train.append(X_test)
X_all.shape
X_all=pd.get_dummies(X_all,columns=['color'],prefix=['color'],prefix_sep='_')
X_train = X_all[:371]
X_test = X_all[371:]
print(X_train.shape,Y_train.shape,X_test.shape,test_ids.shape)
X_train.head()
"""

"\nprint(X_train.shape,X_test.shape)\nX_all = X_train.append(X_test)\nX_all.shape\nX_all=pd.get_dummies(X_all,columns=['color'],prefix=['color'],prefix_sep='_')\nX_train = X_all[:371]\nX_test = X_all[371:]\nprint(X_train.shape,Y_train.shape,X_test.shape,test_ids.shape)\nX_train.head()\n"

In [65]:
"""
from sklearn.svm import SVC
params = {
    'kernel':['linear','rbf'],
    'C':[0.5,1.0,1.5]
} 
svc = SVC()
gridsearch_svm = GridSearchCV(svc,param_grid=params,scoring='accuracy',cv=5,verbose=3,n_jobs=5)
gridsearch_svm.fit(X_train,Y_train)
best_svm = gridsearch_svm.best_estimator_
print(best_svm)
best_svm.fit(X_train,Y_train)
best_svm.score(X_train,Y_train)
"""

"\nfrom sklearn.svm import SVC\nparams = {\n    'kernel':['linear','rbf'],\n    'C':[0.5,1.0,1.5]\n} \nsvc = SVC()\ngridsearch_svm = GridSearchCV(svc,param_grid=params,scoring='accuracy',cv=5,verbose=3,n_jobs=5)\ngridsearch_svm.fit(X_train,Y_train)\nbest_svm = gridsearch_svm.best_estimator_\nprint(best_svm)\nbest_svm.fit(X_train,Y_train)\nbest_svm.score(X_train,Y_train)\n"

In [74]:
from catboost import CatBoostClassifier,Pool
train_pool = Pool(X_train,cat_features=[4],has_header=False)
test_pool = Pool(X_test,cat_features=[4],has_header=False)
clf = CatBoostClassifier(iterat)

<catboost.core.Pool object at 0x7fdcb42c01d8>

In [54]:
predictions = best_svm.predict(X_test)

In [55]:
res = pd.DataFrame({
    "id":test_ids,
    "type":predictions
})
print(res.shape)
res.head(5)

(529, 2)

   id    type
0   3   Ghoul
1   6  Goblin
2   9   Ghoul
3  10  Goblin
4  13   Ghost

In [51]:
res.to_csv("sol.csv",index=False,header=['id','type'])