In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [22]:
dftrain = pd.read_csv("train.csv")
dftest = pd.read_csv("test.csv")
dftrain.head(5)

   id  bone_length  rotting_flesh  hair_length  has_soul  color    type
0   0     0.354512       0.350839     0.465761  0.781142  clear   Ghoul
1   1     0.575560       0.425868     0.531401  0.439899  green  Goblin
2   2     0.467875       0.354330     0.811616  0.791225  black   Ghoul
3   4     0.776652       0.508723     0.636766  0.884464  black   Ghoul
4   5     0.566117       0.875862     0.418594  0.636438  green   Ghost

In [23]:
test_ids = dftest.id
test_X = dftest.drop(columns=['id'])
test_X.head(5)

   bone_length  rotting_flesh  hair_length  has_soul  color
0     0.471774       0.387937     0.706087  0.698537  black
1     0.427332       0.645024     0.565558  0.451462  white
2     0.549602       0.491931     0.660387  0.449809  black
3     0.638095       0.682867     0.471409  0.356924  white
4     0.361762       0.583997     0.377256  0.276364  black

In [24]:
print(dftrain.color.unique(),test_X.color.unique())
dftrain.color[dftrain.color=="clear"]=1;test_X.color[test_X.color=="clear"]=1;
dftrain.color[dftrain.color=="green"]=2;test_X.color[test_X.color=="green"]=2;
dftrain.color[dftrain.color=="black"]=3;test_X.color[test_X.color=="black"]=3;
dftrain.color[dftrain.color=="white"]=4;test_X.color[test_X.color=="white"]=4;
dftrain.color[dftrain.color=="blue"]=5;test_X.color[test_X.color=="blue"]=5;
dftrain.color[dftrain.color=="blood"]=6;test_X.color[test_X.color=="blood"]=6;
print(dftrain.color.unique(),test_X.color.unique())

['clear' 'green' 'black' 'white' 'blue' 'blood'] ['black' 'white' 'blue' 'clear' 'green' 'blood']
[1 2 3 4 5 6] [3 4 5 1 2 6]

/home/aditya/.conda/envs/py3k/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/aditya/.conda/envs/py3k/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/aditya/.conda/envs/py3k/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/aditya/.conda/envs/py3k/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/aditya/.conda/envs/py3k/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/aditya/.conda/envs/py3k/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

train_X = dftrain.drop(columns=['id','type'])
train_Y = dftrain.type

In [56]:
from sklearn.svm import SVC
model = SVC(kernel="linear") #0.7323
#from sklearn.ensemble import GradientBoostingClassifier
#model = GradientBoostingClassifier(n_estimators=100)
model.fit(train_X,train_Y)
score = model.score(train_X,train_Y)
print(score)

0.741239892183

In [57]:
predictions = model.predict(test_X)

In [58]:
res = pd.DataFrame({
    "id":test_ids,
    "type":predictions
})
print(res.shape)
res.head(5)

(529, 2)

   id    type
0   3   Ghoul
1   6  Goblin
2   9   Ghoul
3  10   Ghost
4  13   Ghost

In [59]:
res.to_csv("sol.csv",index=False,header=['id','type'])