In [6]:
import pandas as pd
import numpy as np

#import warnings
#warnings.filterwarnings('ignore')

from collections import Counter

In [7]:
df_train = pd.read_csv("train.csv")
print(df_train.shape)
df_train.head()

(1460, 81)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [8]:
df_test = pd.read_csv('test.csv')
print(df_test.shape)
df_test.head()

(1459, 80)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [89]:
df = df_train.append(df_test,sort=False)
df.shape

(2919, 81)

In [90]:
print("NA Values\n")
for col in df.columns:
    print("{} : {}".format(col,len(df[df[col].isna()])))

NA Values

Id : 0
MSSubClass : 0
MSZoning : 4
LotFrontage : 486
LotArea : 0
Street : 0
Alley : 2721
LotShape : 0
LandContour : 0
Utilities : 2
LotConfig : 0
LandSlope : 0
Neighborhood : 0
Condition1 : 0
Condition2 : 0
BldgType : 0
HouseStyle : 0
OverallQual : 0
OverallCond : 0
YearBuilt : 0
YearRemodAdd : 0
RoofStyle : 0
RoofMatl : 0
Exterior1st : 1
Exterior2nd : 1
MasVnrType : 24
MasVnrArea : 23
ExterQual : 0
ExterCond : 0
Foundation : 0
BsmtQual : 81
BsmtCond : 82
BsmtExposure : 82
BsmtFinType1 : 79
BsmtFinSF1 : 1
BsmtFinType2 : 80
BsmtFinSF2 : 1
BsmtUnfSF : 1
TotalBsmtSF : 1
Heating : 0
HeatingQC : 0
CentralAir : 0
Electrical : 1
1stFlrSF : 0
2ndFlrSF : 0
LowQualFinSF : 0
GrLivArea : 0
BsmtFullBath : 2
BsmtHalfBath : 2
FullBath : 0
HalfBath : 0
BedroomAbvGr : 0
KitchenAbvGr : 0
KitchenQual : 1
TotRmsAbvGrd : 0
Functional : 2
Fireplaces : 0
FireplaceQu : 1420
GarageType : 157
GarageYrBlt : 159
GarageFinish : 159
GarageCars : 1
GarageArea : 1
GarageQual : 159
GarageCond : 159
PavedDrive : 0
WoodDeckSF : 0
OpenPorchSF : 0
EnclosedPorch : 0
3SsnPorch : 0
ScreenPorch : 0
PoolArea : 0
PoolQC : 2909
Fence : 2348
MiscFeature : 2814
MiscVal : 0
MoSold : 0
YrSold : 0
SaleType : 1
SaleCondition : 0
SalePrice : 1459

In [32]:
%matplotlib inline
from matplotlib import pyplot as plt,style
style.use("fivethirtyeight")

In [61]:
"""
Lets understand following columns
MSSubClass: The building class
MSZoning: The general zoning classification
"""
print("MSSubClass: {}".format(Counter(df.MSSubClass)))
print("MSZoning: {}".format(Counter(df.MSZoning)))

"""
These are important features
Lets encode them
"""
from sklearn.preprocessing import LabelEncoder
df.MSZoning.fillna('RL',inplace=True)

le = LabelEncoder()
df.MSSubClass = le.fit_transform(df.MSSubClass)
df.MSZoning = le.fit_transform(df.MSZoning)

MSSubClass: Counter({20: 1079, 60: 575, 50: 287, 120: 182, 30: 139, 70: 128, 160: 128, 80: 118, 90: 109, 190: 61, 85: 48, 75: 23, 45: 18, 180: 17, 40: 6, 150: 1})
MSZoning: Counter({'RL': 2265, 'RM': 460, 'FV': 139, 'RH': 26, 'C (all)': 25, nan: 4})

In [87]:
"""
LotFrontage: Linear feet of street connected to property
LotArea: Lot size in square feet
"""
print("Mean : {}, Max : {}, Min : {}, Std : {}".format(
    np.mean(df.LotFrontage),np.max(df.LotFrontage),np.min(df.LotFrontage),np.std(df.LotFrontage)))
df.LotFrontage.fillna(np.mean(df.LotFrontage),inplace=True)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df.LotFrontage = scaler.fit_transform(np.array(df.LotFrontage).reshape(-1,1)).reshape(1,-1)[0]

print("Mean : {}, Max : {}, Min : {}, Std : {}".format(
    np.mean(df.LotArea),np.max(df.LotArea),np.min(df.LotArea),np.std(df.LotArea)))
df.LotArea.fillna(np.mean(df.LotArea),inplace=True)
df.LotArea = scaler.fit_transform(np.array(df.LotArea).reshape(-1,1)).reshape(1,-1)[0]

Mean : 1.279475935196652e-16, Max : 11.43637422381953, Min : -2.266952359855259, Std : 0.999999999999999
Mean : 1.6521175961683877e-17, Max : 26.00635445286169, Min : -1.1245895268144555, Std : 0.9999999999999992

In [97]:
"""
Street: Type of road access
Alley: Type of alley access
LotShape: General shape of property
LandContour: Flatness of the property
Utilities: Type of utilities available
LotConfig: Lot configuration
LandSlope: Slope of property
Neighborhood: Physical locations within Ames city limits
"""
print("Alley: {}".format(Counter(df.Alley)))
df.Alley.fillna("NA",inplace=True)
df.Alley = le.fit_transform(df.Alley)
df.Street = le.fit_transform(df.Street)
df.LotShape = le.fit_transform(df.LotShape)
df.LandContour = le.fit_transform(df.LandContour)
print("Utilities: {}".format(Counter(df.Utilities)))
df.Utilities.fillna("AllPub",inplace=True)
df.Utilities = le.fit_transform(df.Utilities)
df.LotConfig = le.fit_transform(df.LotConfig)
df.LandSlope = le.fit_transform(df.LandSlope)
df.Neighborhood = le.fit_transform(df.Neighborhood)

Alley: Counter({1: 2721, 0: 120, 2: 78})
Utilities: Counter({0: 2918, 1: 1})

In [ ]:
"""
Condition1: Proximity to main road or railroad
Condition2: Proximity to main road or railroad (if a second is present)
BldgType: Type of dwelling
HouseStyle: Style of dwelling
OverallQual: Overall material and finish quality
OverallCond: Overall condition rating
"""
df.Condition1 = le.fit_transform(df.Condition1)
df.Condition2 = le.fit_transform(df.Condition2)
df.BldgType = le.fit_transform(df.BldgType)
df.HouseStyle = le.fit_transform(df.HouseStyle)
df.OverallCond = le.fit_transform(df.OverallCond)
df.OverallQual = le.fit_transform(df.OverallQual)

In [80]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(train_X.values,train_y.values)

NameError: name 'train_X' is not defined

array([1461, 1462, 1463, ..., 2917, 2918, 2919])

In [94]:
test_y = regressor.predict(test_x.values)

In [103]:
res = np.column_stack((test_id,test_y))
ans = pd.DataFrame(data=res,columns=['Id','SalePrice']).apply(pd.to_numeric)
ans.Id = ans.Id.astype(int)
ans.to_csv('sol.csv',index=False)

In [104]:
ans

        Id      SalePrice
0     1461  108297.152178
1     1462  181899.770734
2     1463  166038.584750
3     1464  182254.953177
4     1465  198381.713776
5     1466  170659.441939
6     1467  183579.708726
7     1468  158791.768556
8     1469  207152.338801
9     1470  104157.535649
10    1471  187623.049709
11    1472   99021.707479
12    1473   84802.890650
13    1474  145450.415329
14    1475  102967.533431
15    1476  330588.597782
16    1477  246729.530779
17    1478  299584.802097
18    1479  290603.266518
19    1480  432047.857804
20    1481  294407.925119
21    1482  218247.826368
22    1483  171511.042456
23    1484  173966.447300
24    1485  194338.577272
25    1486  207293.708640
26    1487  291840.481310
27    1488  263747.016904
28    1489  193917.535414
29    1490  234564.131405
...    ...            ...
1429  2890   61850.544988
1430  2891  146994.848601
1431  2892   61674.963303
1432  2893   87504.014350
1433  2894   45573.570143
1434  2895  318223.630746
1435  2896  277524.401921
1436  2897  208982.866989
1437  2898  145428.749287
1438  2899  227154.820675
1439  2900  144548.601885
1440  2901  257103.011300
1441  2902  202342.480673
1442  2903  320449.151613
1443  2904  347978.513858
1444  2905   60581.593004
1445  2906  205143.981695
1446  2907  104027.473079
1447  2908  115075.899975
1448  2909  140430.898531
1449  2910   78194.575745
1450  2911   60489.964404
1451  2912  146776.048517
1452  2913   62404.411486
1453  2914   63112.880468
1454  2915   76084.378110
1455  2916   72491.832189
1456  2917  151681.708957
1457  2918  128758.542407
1458  2919  241418.316246

[1459 rows x 2 columns]