In [5]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
X_train = pd.read_csv("train.csv")
X_test=pd.read_csv("test.csv")
X_train.head(5)

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [7]:
Y_train = X_train["ACTION"]
X_train = X_train.drop("ACTION",axis=1)
X_test_ids = X_test["id"]
X_test = X_test.drop("id",axis=1)
print(X_train.shape,X_test.shape,Y_train.shape)

(32769, 9) (58921, 9) (32769,)

In [8]:
X_all = X_train.append(X_test)
for column in X_all.columns:
    X_all[column] = np.array(X_all[column],dtype=str)

In [9]:
X_all = pd.get_dummies(X_all,
                       columns=['RESOURCE','MGR_ID','ROLE_ROLLUP_1','ROLE_ROLLUP_2','ROLE_DEPTNAME','ROLE_TITLE','ROLE_FAMILY_DESC','ROLE_FAMILY','ROLE_CODE'],
                       prefix=['RESOURCE','MGR_ID','ROLE_ROLLUP_1','ROLE_ROLLUP_2','ROLE_DEPTNAME','ROLE_TITLE','ROLE_FAMILY_DESC','ROLE_FAMILY','ROLE_CODE'],
                       prefix_sep='_'
                      )
X_all.shape

(91690, 16961)

In [10]:
X_train = X_all[:32769]
X_test = X_all[32769:]
del X_all
print(X_train.shape,X_test.shape)

(32769, 16961) (58921, 16961)

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_validation,Y_train,Y_validation = train_test_split(X_train,Y_train,test_size=0.2)

In [12]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train,Y_train)
print(model.score(X_validation,Y_validation))

0.950259383583

In [ ]:
del X_train,Y_train,X_validation,Y_validation
predictions = model.predict(X_test)
res = pd.DataFrame({
    "Id":X_test_ids.values,
    "Action":predictions
})
res.shape

In [ ]:
res.to_csv("sol.csv",index=False)